
venv/
.env

*.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.db

*.log

docker-compose.override.yml
*.pid

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.egg
*.egg-info/


htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/


dist/
build/
site/


pip-log.txt
pip-delete-this-directory.txt


dump.rdb
appendonly.aof


*.lock
*.pid
diagnostic.data/


tmp/
